#image-cropper .cropit-preview-container,
.image-cropper .cropit-preview-container
{
    margin-left: auto;
    margin-right: auto;
}
#image-cropper .cropit-image-preview-container,
.image-cropper .cropit-image-preview-container
{
    position: relative;
    margin: 30px 35px 50px 35px;
}
#image-cropper .cropit-image-preview-container .cropit-image-background-container,
.image-cropper .cropit-image-preview-container .cropit-image-background-container
{
    top: -30px;
    left: -29px;
}
#image-cropper .cropit-image-preview,
.image-cropper .cropit-image-preview 
{
    /*background-color: #f8f8f8;*/
    background-color: white;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
    height: 250px;
    cursor: move;
    background-repeat: no-repeat;
}

#image-cropper .cropit-image-background,
.image-cropper .cropit-image-background {
  opacity: .2;
  cursor: auto;
}

#image-cropper .image-size-label,
.image-cropper .image-size-label { margin-top: 0.6rem; }


/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
#image-cropper input.cropit-image-zoom-input,
.image-cropper input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper,
.image-cropper {
  overflow: hidden;
}

#image-cropper .spinner,
.image-cropper .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#image-cropper .splash .cropit-image-preview .spinner, 
#image-cropper .cropit-image-preview .spinner,
.image-cropper .splash .cropit-image-preview .spinner, 
.image-cropper .cropit-image-preview .spinner {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

#image-cropper .splash .cropit-image-preview .error-msg, 
#image-cropper .cropit-image-preview .error-msg,
.image-cropper .splash .cropit-image-preview .error-msg, 
.image-cropper .cropit-image-preview .error-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background: rgba(210,65,72,0.8);
    line-height: 1.5;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

#image-cropper .spinner > .spinner-dot:nth-child(1),
.image-cropper .spinner > .spinner-dot:nth-child(1) {
    -webkit-animation-delay: -.32s;
    -moz-animation-delay: -.32s;
    -o-animation-delay: -.32s;
    -ms-animation-delay: -.32s;
    animation-delay: -.32s;
}
#image-cropper .spinner > .spinner-dot:nth-child(2),
.image-cropper .spinner > .spinner-dot:nth-child(2) {
    -webkit-animation-delay: -.16s;
    -moz-animation-delay: -.16s;
    -o-animation-delay: -.16s;
    -ms-animation-delay: -.16s;
    animation-delay: -.16s;
}
#image-cropper .spinner > .spinner-dot,
.image-cropper .spinner > .spinner-dot {
    width: 15px;
    height: 15px;
    background: rgba(85,85,85,0.5);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    -webkit-animation: bounce 1.4s infinite ease-in-out;
    -moz-animation: bounce 1.4s infinite ease-in-out;
    -o-animation: bounce 1.4s infinite ease-in-out;
    -ms-animation: bounce 1.4s infinite ease-in-out;
    animation: bounce 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
#image-cropper .slider-wrapper,
.image-cropper .slider-wrapper {
    margin: 20px auto 30px auto;
    text-align: center;
}
#image-cropper .splash .slider-wrapper, 
#image-cropper .slider-wrapper,
.image-cropper .splash .slider-wrapper, 
.image-cropper .slider-wrapper {
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

#image-cropper .splash .slider-wrapper .small-image, 
#image-cropper .slider-wrapper .small-image,
.image-cropper .splash .slider-wrapper .small-image, 
.image-cropper .slider-wrapper .small-image {
    font-size: 16px;
}
#image-cropper .splash .slider-wrapper *, 
#image-cropper .slider-wrapper *,
.image-cropper .splash .slider-wrapper *, 
.image-cropper .slider-wrapper * {
    vertical-align: middle;
}

#image-cropper .splash .slider-wrapper .cropit-image-zoom-input.custom, 
#image-cropper .slider-wrapper .cropit-image-zoom-input.custom,
.image-cropper .splash .slider-wrapper .cropit-image-zoom-input.custom, 
.image-cropper .slider-wrapper .cropit-image-zoom-input.custom {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}
#image-cropper .splash .slider-wrapper .cropit-image-zoom-input, 
#image-cropper .slider-wrapper .cropit-image-zoom-input,
.image-cropper .splash .slider-wrapper .cropit-image-zoom-input, 
.image-cropper .slider-wrapper .cropit-image-zoom-input {
    width: 130px;
    margin: 0 20px;
    position: relative;
}
#image-cropper .splash .slider-wrapper *, 
#image-cropper .slider-wrapper *,
.image-cropper .splash .slider-wrapper *, 
.image-cropper .slider-wrapper * {
    vertical-align: middle;
}
#image-cropper .splash .slider-wrapper .large-image, 
#image-cropper .slider-wrapper .large-image,
.image-cropper .splash .slider-wrapper .large-image, 
.image-cropper .slider-wrapper .large-image {
    font-size: 24px;
}

#image-cropper .splash .cropit-image-input.custom, 
#image-cropper .cropit-image-input.custom,
.image-cropper .splash .cropit-image-input.custom, 
.image-cropper .cropit-image-input.custom {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
}

#image-cropper .btn,
.image-cropper .btn {
    display: block;
}
#image-cropper .select-image-btn, 
#image-cropper .select-image-btn.btn,
.image-cropper .select-image-btn, 
.image-cropper .select-image-btn.btn,
#image-cropper .croper-select-image-btn, 
#image-cropper .croper-select-image-btn.btn,
.image-cropper .croper-select-image-btn, 
.image-cropper .croper-select-image-btn.btn {
    background: #52a0c7;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 2px #3784aa;
    box-shadow: 0 2px #3784aa;
}

#image-cropper .btn.download-btn,
.image-cropper .btn.download-btn,
#image-cropper .btn.croper-download-btn,
.image-cropper .btn.croper-download-btn {
    margin-top: 10px;
}
#image-cropper .download-btn,
.image-cropper .download-btn,
#image-cropper .croper-download-btn,
.image-cropper .croper-download-btn {
    background: #cf754f;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 2px #b45831;
    box-shadow: 0 2px #b45831;
}

#image-cropper .croperSelectBt,
.image-cropper .croperSelectBt,
#image-cropper .croperDownloadBt,
.image-cropper .croperDownloadBt {
    min-width: 80px;
    display: inline-block;
}
#image-cropper .croperDownloadBt,
.image-cropper .croperDownloadBt {
    margin-left: 5px;
}

#image-cropper .croperCancelBt,
.image-cropper .croperCancelBt {
    margin-left: 5px;
}


#image-cropper .croperBts,
.image-cropper .croperBts {
    display: inline-block;
    /*width: calc(50% - 10px);*/
    margin-left: 10px;
}
#image-cropper .croperBts.croperBtsLeft,
.image-cropper .croperBts.croperBtsLeft {
    margin-right: 15px;
    margin-left: 0px;
}

#image-cropper .croperSliderContainer,
.image-cropper .croperSliderContainer {
    display: inline-block;
    /*width: 50%;*/
    width: 200px;
    vertical-align: middle;
}

#image-cropper .croperSlider .zoomSlider,
.image-cropper .croperSlider .zoomSlider {
    margin-top: 5px;
    border: 1px solid #5FA7C0;
}
#image-cropper .croperSlider .zoomSlider .ui-slider-handle,
.image-cropper .croperSlider .zoomSlider .ui-slider-handle {
    border: 1px solid #5FA7C0;
}

#image-cropper .slider-wrapper .zoomInputBox,
.image-cropper .slider-wrapper .zoomInputBox
{
    width: 50px;
    border: 1px solid #d5d5d5;
}

.uploadImgPreviewArea
{
    display:block;
    margin: 0px 10px;
}
.uploadImgPreviewArea > div
{
    display:inline-block;
    padding: 0px 10px;
    width: calc(100% - 180px);
}
.uploadImgPreviewArea #imgUploadListaTipos
{
    width: 170px;
    vertical-align: top;
    text-align: left;
    padding-right: 10px;
    border-right: 1px solid #5FA7C0;
    margin: 20px auto 30px auto;
}
.uploadImgPreviewArea #imgUploadListaTipos .imgUploadListaTiposItems
{
    overflow-y: auto;
    overflow-x: auto;
    width: 170px;
}
.uploadImgPreviewArea #imgUploadListaTipos .imgUploadListaTiposHeader {
    padding-bottom: 10px;
    font-weight: bold;
}
.uploadImgPreviewArea #imgUploadListaTipos .imgUploadListaTiposItems ul {
    list-style-type: none;
}
.uploadImgPreviewArea #imgUploadListaTipos .imgUploadListaTiposItems li {
    padding: 2px 0px;
}
.uploadImgPreviewContainer > div
{
    display:block;
}

.image-cropper.btsUploadImgUp .cropit-image-preview-container
{
    margin: 50px 35px 30px 35px;
}