.tablePreview
{
    width: 100%
}

.tdImgPreview
{
}

.tdBarPreview
{
}

.tdBarPreview .previewBarBts
{
    width: 550px;    
    max-width: 550px;
    margin: 20px auto 30px auto;
}


.previewBarBts .previewZoomBts
{
    display:inline-block;
    width: 50%;
    vertical-align: middle;
}

.previewBarBts .previewZoomBts .labelZoomPreview
{
}
.previewBarBts .previewZoomBts .zoomSlider
{
    margin-top: 5px;
    border: 1px solid #5FA7C0;
}
.previewBarBts .previewZoomBts .zoomSlider .ui-slider-range 
{ 
    background: #05a9c2; 
}
.previewBarBts .previewZoomBts .zoomSlider .ui-slider-handle
{ 
    border: 1px solid #5FA7C0;
}
.previewBarBts .previewZoomBts .btZoomIn
{

}
.previewBarBts .previewZoomBts .btZoomIOut
{

}


.previewBarBts .previewRotateBts
{
    display:inline-block;
    width: calc(50% - 10px);
    margin-left: 10px;
}
.previewBarBts .previewRotateBts .btRotateLeft,
.previewBarBts .previewRotateBts .btRotateRight
{
    display:inline-block;
    min-width: 80px;
    display:inline-block;
}
.previewBarBts .previewRotateBts .btRotateRight
{
    margin-left: 5px;
}
